/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #d48c6a; /* 10% */
  background-color: #522816; /* 60% */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container for content */
.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #d1bcb2; /* 10% */
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #683b27; /* 30% */
  color: #d48c6a; /* 10% */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 100vh;
  width: 100%;
  max-width: 1000px;
}

.bannerText {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.bannerPhoto {
  width: 350px;
  height: auto;
}

.banner h1 {
  margin: 0;
  font-size: 2.5em;
}

.banner p {
  margin: 0;
  font-size: 1.5em;
}

/* Headings */
h1,
h2,
h3 {
  color: #e4ae95; /* 10% */
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

/* Paragraphs */
p {
  margin: 10px 0;
  font-size: 1.1em;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

/* Contact Info */
.contact-info {
  margin-top: 20px;
  font-size: 1.1em;
}

.contact-info p {
  margin: 5px 0;
}

/* Add some spacing between sections */
section {
  margin-bottom: 20px;
}

/* Columns */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1;
  min-width: 300px;
}

/* Background and Border for Text Divs */
.text-container {
  background-color: #683b27; /* 30% */
  border-radius: 8px; /* Rounded borders */
  padding: 15px; /* Padding inside the div */
  color: #ffffff; /* 10% */
}

/* Responsive Design */
@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.3em;
  }

  p,
  .contact-info {
    font-size: 1em;
  }

  .row {
    flex-direction: column;
  }
}
